<h1>DASHBOARD</h1>

<div class="container mt-3" id="section1">
  <div class="row pt-5">
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch">
        <% @user_challenges.each do |user_challenge| %>
          <%= render "challenges/challenge", challenge: user_challenge.challenge %>
        <% end %>
      </div>
    </div>
  </div>
</div>
