<div class="px-5 py-5 my-5 text-center" id="header-dashboard">
  <%= render "shared/avatar" %>
    <div class="mb-4 mt-n10 display-5 fw-bold text-body-emphasis">Tes challenges en cours !</div>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-1 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Third</button>
      </div>
    </div>
</div>

<div class="container" id="section1">
  <div class="row pt-5">
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch">
        <% @user_challenges.each do |user_challenge| %>
          <%= render "challenges/challenge", challenge: user_challenge.challenge %>
        <% end %>
      </div>
    </div>
  </div>
</div>
