// Define variables for your color scheme

// For example:
$green: #BBF535; //primary
$blue: hsl(233, 75%, 52%); //secondary
$red: #FD1015; //danger
$yellow-green: #D7FF7B; //validate
$yellow: yellow;
$orange: #E67E22; //warning
$gray: #0E0000; //text
$light-gray: #F3F5FD; //background
$success: rgb(59, 227, 59);
$dark : black
