// Define variables for your color scheme

// For example:
$green: #BBF535; //primary
$blue: #273EE0; //secondary
$red: #FD1015; //danger
$yellow-green: #D7FF7B; //validate
$orange: #E67E22; //warning
$gray: #0E0000; //text
$light-gray: #F3F5FD; //background
