<div id="submit-<%=user_challenge_step.id%>">
  <%= simple_form_for user_challenge_step, html: {data: { controller: "submit-form-checkbox" } } do |f| %>
    <%= f.input :status, as: :boolean, label: user_challenge_step.step.name.html_safe, input_html: { class:"p-2 #{ user_challenge_step.status ? 'is-valid' : '' }", data: { action: "change->submit-form-checkbox#submit" } } %>
  <% end %>
</div>
