<div class="banner" style="background-color: #273EE0; height: 800px;">
  <div class="container">
    <h1>MATE.</h1>
      <h2><strong>Life Challenging</strong> to <strong>creative people</strong>!</h2>
      <p>Défiez vous, dépassez vous, découvrez vous</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>

  <ul class="list list-unstyled ">
    <% @challenges.each do |challenge| %>
      <li class="item">
        <div class="content">

          <%= challenge.name %>

        </div>
      </li>
    <% end %>
  </ul>
</div>
