<div class="banner">
  <div class="container text-center">
    <h1><strong>MATE</strong></h1>
    <p>Défiez vous, dépassez vous</p>
  </div>
</div>

<div class="slider-container">
  <ul class="list list-unstyled mt-4">
    <% @challenges.each do |challenge| %>
      <li class="item card-category text-center">
        <div>
          <%= link_to challenge_path(challenge), class:"text-decoration-none text-white" do %>
            <%= challenge.name %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to "Tous les challenges", challenges_path, class: "btn-ghost text-decoration-none" %>
  </div>
</div>
