<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= challenge.photo.attached? ? cl_image_path(challenge.photo.key) : 'Default-image.png' %>)">
  <h2><%= @challenge.name %></h2>
    <p><%= @challenge.content %></p>
</div>
