  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(<%= cl_image_path(challenge.photo.key) %>)">
    <h2><%= @challenge.name.capitalize %></h2>
      <p><%= @challenge.content %></p>
  </div>
