  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.mauguiocarnontourisme.com/medias/images/prestations/pexels-travis-rupert-1032650-1-282105.jpg)">
    <h2><%= @challenge.name.capitalize %></h2>
      <p><%= @challenge.content %></p>
  </div>
