<div class="card-details-container">
  <h2 class="ps-2">Steps :</h2>
  <ul class="list-unstyled p-1">
    <% @challenge.steps.each do |challenge_step| %>
      <li class="ps-3"><%= challenge_step.name %></li>
    <% end %>
  </ul>
</div>
