<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareProfileModalLabel">Partager :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fab fa-facebook fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fa-brands fa-instagram fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fab fa-whatsapp fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fa-regular fa-copy fa-2x"></i>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
