<div class="d-flex justify-content-center">
  <button type="button" class="btn-ghost" data-bs-toggle="modal" data-bs-target="#alertModal">
    Terminer
  </button>
</div>


<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-user-challenge rounded-5">
      <div class="modal-body text-center">
        <% if user_challenge.done? %>
          <div id="success-box" class="feedback-box">
          <button type="button" class="btn-close btn-fermer-sweetalert " data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="message text-center">
              <h1 class="alert1 m-3">Bravo!</h1>
              <p class ="little-text">Tu as fini ton challenge, bg !!!</p>
            </div>
            <div class="button-box">
              <%= link_to 'Profil', dashboard_path, class: 'form-actions-sweetalert btn-ghost text-decoration-none' %>
            </div>
          </div>
        <% else %>
          <div id="error-box" class="feedback-box">
          <button type="button" class="btn-close btn-fermer-sweetalert " data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="face face2">
              <div class="eye"></div>
              <div class="eye right"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="message">
              <h1 class="alert1 my-3 me-1"> CONTINUE </h1>
              <p class ="little-text">Tu gères, BG !!!</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
