<div class="form-filter" data-controller="filter-category">
  <%= form_tag challenges_path, method: 'get' do %>
    <%= select_tag :category, options_for_select(Challenge::CATEGORIES, @category), label: @category, include_blank: false , data: { action: "change->filter-category#filter" } %>
  <% end %>
</div>

<div class="container mt-3" id="section1">
  <div class="row pt-5">
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch cards-list">
        <% @challenges.each do |challenge| %>
          <div data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= challenge.id %>">
            <%= render "challenges/challenge", challenge: challenge %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
