<%= render 'challenges/card_challenge', challenge: @challenge, user_challenge: @user_challenge %>

<%= render 'challenges/content_challenge', challenge: @challenge, user_challenge: @user_challenge %>

<div class="card-trip infos-container">
  <h2>Steps : </h2>
  <p>Etape 1</p>
  <p>Etape 2</p>
  <p>Etape 3</p>
  <p>Etape 4</p>
</div>

<div class="d-flex justify-content-center my-3">
  <%# <%= link_to "Commencer", use, class: "btn-ghost text-decoration-none" %>
  <%= render 'new_user_challenge', challenge: @challenge, user_challenge: @user_challenge %>
</div>
