.btn-ghost {
  text-align: center;
  color: $light-gray;
  background-color: $secondary;
  padding: 12px 60px;
  border-radius: 20px;
  font-size: 20px;
  font-weight:bold;
  box-shadow: 0 0 2px $light-gray;
  text-shadow: 0 0 6px silver
}

.btn-ghost2 {
  background-color: $secondary; /* Fond vert */
  color: $light-gray; /* Texte blanc */
  text-decoration: none; /* Retirer le soulignement */
  padding: 0.75rem 1.5rem; /* Espacement interne pour un aspect de bouton */
  border-radius: 5px;
  display: inline-block;
  text-shadow: 0 0 6px silver
}

.w-100 {
  width: 100%;
}
