.card-trip {
  overflow: hidden;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.image-container > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip h3 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 15px;
  margin-left: 5px;
}

.card-trip p {
  font-size: 16px;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-user {
  position: absolute;
  top: -20px;
  width: 40px;
}

.infos-container{
  background-color: $light-gray;
  border-radius: 10px;
  margin: 5px 11px 0px 11px;

  p{
    font-size: 14px;
    text-wrap: balance;
  }
}

.btn-group{
	display: flex;
}

.card-details-container {
  margin: 10px;
  padding: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: $light-gray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-details-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-details-container h2 {
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-details-container p {
  font-size: 14px;
  text-wrap: balance;
}

.card-details-container li {
  font-size: 14px;
  text-wrap: balance;
  margin-bottom: 8px;
}

.accordeon-container {
  border-radius: 10px;
  margin: 12px;
}

.accordion-button {
  border-radius: 10px;
}

.accordeon-container {
  border-radius: 20px;
  overflow: hidden;
}

.accordion-body {
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
}

.accordion-item.card-trip:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-item.card-trip:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
