.navbar-lewagon {
  justify-content: space-between;
  background: $secondary;

  padding: 0;

  a {
    color: $light-gray;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin: 0px;
  padding: 0px;
}

.dropdown-menu{
  background: $secondary;
  border-color: transparent;
}

.navbar-toggler{
  border-color: transparent;
  padding: 0;

}
